<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Data</th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->

  <!-- historico.component.html -->
<!-- <div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Moeda de Origem</th>
        <th>Moeda de Destino</th>
        <th>Valor Original</th>
        <th>Valor Convertido</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let conversao of historicoConversoes; let i = index">
        <td>{{i + 1}}</td>
        <td>{{conversao.moedaOrigem}}</td>
        <td>{{conversao.moedaDestino}}</td>
        <td>{{conversao.valorOriginal | currency:conversao.moedaOrigem}}</td>
        <td>{{conversao.valorConvertido | currency:conversao.moedaDestino}}</td>
        <td>{{conversao.data | date:'dd/MM/yyyy HH:mm'}}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="removerDoHistorico(i)" title="Remover do histórico">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="historicoConversoes.length === 0">
        <td colspan="7" class="text-center">Nenhuma conversão encontrada no histórico</td>
      </tr>
    </tbody>
  </table>
</div>
  
   -->

















<!-- 
   esse e o certo

   <table mat-table [dataSource]="historicoConversoes" class="mat-elevation-z8">
  
    
    <ng-container matColumnDef="posicao">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let element"> {{element.data | date:'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="moedaOrigem">
      <th mat-header-cell *matHeaderCellDef> Moeda Origem </th>
      <td mat-cell *matCellDef="let element"> {{element.moedaOrigem}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="moedaDestino">
      <th mat-header-cell *matHeaderCellDef> Moeda Destino </th>
      <td mat-cell *matCellDef="let element"> {{element.moedaDestino}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="valorOriginal">
      <th mat-header-cell *matHeaderCellDef> Valor Original </th>
      <td mat-cell *matCellDef="let element"> {{element.valorOriginal | number:'1.2-2'}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="valorConvertido">
      <th mat-header-cell *matHeaderCellDef> Valor Convertido </th>
      <td mat-cell *matCellDef="let element"> {{element.valorConvertido | number:'1.2-2'}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let i = index">
        <button mat-icon-button color="warn" (click)="removerDoHistorico(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->







  <div class="p-4 bg-white rounded-lg shadow-md">
    <h2 class="text-xl font-bold mb-4"></h2>
    <table mat-table [dataSource]="historicoConversoes" class="mat-elevation-z8 w-full">
      <!-- Data Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{ element.data | date:'dd/MM/yyyy HH:mm' }} </td>
      </ng-container>
  
      <!-- Moeda Origem Column -->
      <ng-container matColumnDef="moedaOrigem">
        <th mat-header-cell *matHeaderCellDef> Moeda Origem </th>
        <td mat-cell *matCellDef="let element"> {{ element.moedaOrigem }} </td>
      </ng-container>
  
      <!-- Moeda Destino Column -->
      <ng-container matColumnDef="moedaDestino">
        <th mat-header-cell *matHeaderCellDef> Moeda Destino </th>
        <td mat-cell *matCellDef="let element"> {{ element.moedaDestino }} </td>
      </ng-container>
  
      <!-- Valor Original Column -->
      <ng-container matColumnDef="valorOriginal">
        <th mat-header-cell *matHeaderCellDef> Valor Original </th>
        <td mat-cell *matCellDef="let element"> {{ element.valorOriginal | number:'1.2-2' }} </td>
      </ng-container>
  
      <!-- Valor Convertido Column -->
      <ng-container matColumnDef="valorConvertido">
        <th mat-header-cell *matHeaderCellDef> Valor Convertido </th>
        <td mat-cell *matCellDef="let element"> {{ element.valorConvertido | number:'1.2-2' }} </td>
      </ng-container>
  
      <!-- Ações Column -->
      <!-- <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let i = index">
          <button mat-icon-button color="warn" (click)="removerDoHistorico(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container> -->

      <!-- <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let i = index">
          <button mat-icon-button color="warn" (click)="removerDoHistorico(i)">
            <mat-icon>delete</mat-icon> 
          </button>
        </td>
      </ng-container> -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let i = index">
          <button mat-icon-button color="warn" (click)="removerDoHistorico(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      
  
      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  