<div class="converter-container">
  <mat-form-field appearance="fill">
    <mat-label>Moeda Origem</mat-label>
    <mat-select [(ngModel)]="moedaOrigem">
      <mat-option *ngFor="let moeda of moedas" [value]="moeda[0]">
        {{ moeda[0] }} - {{ moeda[1] }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Moeda Destino</mat-label>
    <mat-select [(ngModel)]="moedaDestino">
      <mat-option *ngFor="let moeda of moedas" [value]="moeda[0]">
        {{ moeda[0] }} - {{ moeda[1] }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Valor</mat-label>
    <input matInput type="number" [(ngModel)]="valor" />
  </mat-form-field>
  <button mat-stroked-button color="primary" (click)="calcularConversao()">
    Calcular Conversão
  </button>
  <mat-toolbar *ngIf="resultado" color="primary" class="mt-4">
    <span>{{ valor }} {{ moedaOrigem }} = {{ resultado | number:'1.2-2' }} {{ moedaDestino }}</span>
  </mat-toolbar>
</div>