<!-- 
<mat-form-field>
  <mat-label>Moeda Origem</mat-label>
  <mat-select [(ngModel)]="moedaOrigem">
      <mat-option *ngFor="let moeda of moedas" [value]="moeda[0]">
        {{moeda[0]}} - {{moeda[1]}}
  <mat-select>
   
    
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Moeda Destino</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
    <mat-option value="two">Second option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Valor</mat-label>
  <input matInput>
</mat-form-field>


<button mat-stroked-button (click)="openSnackBar(message.value, action.value)">Calcular Conversão</button>


<mat-toolbar>
  <span>Aqui vai ficar o valor convertido</span>
</mat-toolbar>

 -->

<div class="converter-container">
  <mat-form-field>
    <mat-label>Moeda Origem</mat-label>
    <mat-select [(ngModel)]="moedaOrigem">
      <mat-option *ngFor="let moeda of moedas" [value]="moeda[0]">
        {{moeda[0]}} - {{moeda[1]}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Moeda Destino</mat-label>
    <mat-select [(ngModel)]="moedaDestino">
      <mat-option *ngFor="let moeda of moedas" [value]="moeda[0]">
        {{moeda[0]}} - {{moeda[1]}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Valor</mat-label>
    <input matInput type="number" [(ngModel)]="valor">
  </mat-form-field>

  <button mat-stroked-button (click)="calcularConversao()">
    Calcular Conversão
  </button>

  <mat-toolbar *ngIf="resultado">
    <span>{{valor}} {{moedaOrigem}} = {{resultado | number:'1.2-2'}} {{moedaDestino}}</span>
  </mat-toolbar>
</div>